<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js" defer></script>
    <title>
        <%- typeof title !== 'undefined'? title: 'Recipe' %>
    </title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <%- body %>
            <%- include('../partials/footer.ejs') %>
</body>

</html>